*{
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 25px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
ol, ul{
  list-style: none;
}
/* logo section */
#head_main{
  border-bottom: 3px solid #eef0f3;
}
.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  width: 12%;
  float: left;
}
.logo img{
  width: 100%;
}
/* menu */
.menu{
  width: 60%;
  float: right;
}
.menu ul{
  float: right;
}
.menu ul li{
  float: left;
}
.menu ul li a{
  display: inline-block;
  padding-top: 15px;
  padding-left: 45px;
  font-weight: 400;
  color: #0f2656;
  transition: linear 0.2s;
}
.menu ul li:hover a{
  color: #008aff;
}
/*  banner   */
#banner_main{
  overflow: hidden;
}
.container2{
   width: 70%;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;
}
.container2 h1, h2{
   font-size: 50px;
   line-height: 80px;
   padding-top: 30px;
   color: #0f2656;
}
.container2 h2{
  padding-top: 0%;
  color: #008aff;
}
.container2 p{
  font-size: 16px;
  padding: 0px 10px;
  padding-bottom: 20px;
  color: #0f2656;
}
.banner_img{
  width: 70%;
  margin: 0 auto;
}
.banner_img img{
  width: 100%;
}
.l_text{
  width: 50%;
  float: left;
}
.l_text h3{
  font-size: 60px;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #f15767;
}
.l_text p{
  padding-bottom: 110px;
}
.l_text p, h3{
  text-align: end;
  padding-right: 15px;
}
.r_text{
  width: 50%;
  float: right;
  text-align: start;
}
.r_text h2{
  color: #0f2656;
  line-height: 50px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.r_text h2:first-child{
  padding-top: 35px;
}
/* service */
.container3{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.item{
  width: 33.33%;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
}
.item img{
  width: 100%;
}
.service_item_text{
  width: 100%;
  padding: 20px;
  background-color: #fff7e8;
}
.service_item_text h4, p{
  font-size: 25px;
  color: #0f2656;
  padding-bottom: 10px;
}
.service_item_text p{
  font-size: 14px;
  padding: 0%;
  color: #0f2656;
}
.itm1_bg{
  background-color: #fdebed ;
}
.itm2_bg{
  background-color: #ebf9f4;
}
/* fotter */
#fotter_main{
  background-color: #008aff;
}
.container4{
  width: 90%;
  margin: 0 auto;
}
.fotter{
  width: 70%;
  margin: 0 auto;
}
.fotter p{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding-top: 10px;
  color: #85d2ff;
}
.fotter span{
  font-size: 16px;
   font-weight: 700;
   color: white;
}